BUCKET_NAME=trips-raw-data
TRACKER_TABLE_NAME=trip_state_tracker
GSI_NAME=statusIndex
DB_HOST=trips-sumary-db.cvwwgqyg0i2a.sa-east-1.rds.amazonaws.com
DB_USER=postgres
DB_PASS=.$MCSystem26$.
DB_NAME=postgres